.ant-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left {
  width: 476px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 65px;
  justify-content: center;
  flex: 1;
}

.logo {
  width: 100px;
  height: 100px;
  margin-top: 53px;
  margin-bottom: 80px;
}
.login-form {
  width: 100%;
}
.password-input {
  border-radius: 5px;
  padding: 10px;
}
.email-input {
  width: 100%;
  border-radius: 5px;
}

.btn-dismiss {
  width: 100%;
}
.copy-right-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 136%;
  color: #c0c0c0;
}
.group-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.bottom-bar {
  position: fixed;
  bottom: 20px;
}

.highlight {
  color: #f0b71c;
  padding-left: 20px;
  font-size: 14px;
}
.has-border {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
