.user-menu {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
}
.scp-main-content {
  display: flex;
  flex: 1;
  overflow: auto;
  position: relative;
  align-items: stretch;
  flex-direction: row;
}
.highlight {
  color: #f0b71c;
}
.logout-icon {
  width: 12px;
  height: 12px;
}
.top-right-menu {
  min-width: 155px;
}
